@import "tailwindcss";

#root{
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Hide scrollbar but allow scrolling */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}